<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HrCandidateQaDetailMapper">
    
    <resultMap type="HrCandidateQaDetail" id="HrCandidateQaDetailResult">
        <result property="id"    column="id"    />
        <result property="positionQuestionId"    column="position_question_id"    />
        <result property="positionId"    column="position_id"    />
        <result property="questionId"    column="question_id"    />
        <result property="questionCategory"    column="question_category"    />
        <result property="questionSubCategory"    column="question_sub_category"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="positionName"    column="position_name"    />
        <result property="candidateId"    column="candidate_id"    />
        <result property="candidateName"    column="candidate_name"    />
        <result property="candidateAnswer"    column="candidate_answer"    />
        <result property="candidateScore"    column="candidate_score"    />
        <result property="answerBatch"    column="answer_batch"    />
        <result property="question"    column="question"    />
        <result property="questionScore"    column="question_score"    />
    </resultMap>
    
     <resultMap type="com.ruoyi.system.domain.HrCandidateQaSum_Customize" id="HrCandidateQaSum_CustomizeResult">
        <result property="candidateId"    column="candidateId"    />
        <result property="answerBatch"    column="answerBatch"    />
        <result property="questionCategory"    column="questionCategory"    />
        <result property="score"    column="score"    />
        <result property="maxScore"    column="maxScore"    />
    </resultMap>

    <sql id="selectHrCandidateQaDetailVo">
        select id, position_question_id, position_id, question_id, question_category, question_sub_category, create_time, create_by, position_name, candidate_id, candidate_name, candidate_answer, candidate_score, answer_batch, question, question_score from hr_candidate_qa_detail 
    </sql>

    <select id="selectHrCandidateQaDetailList" parameterType="HrCandidateQaDetail" resultMap="HrCandidateQaDetailResult">
        <include refid="selectHrCandidateQaDetailVo"/>
        <where>  
            <if test="positionName != null  and positionName != ''"> and position_name like concat('%', #{positionName}, '%')</if>
            <if test="candidateName != null  and candidateName != ''"> and candidate_name like concat('%', #{candidateName}, '%')</if>
            <if test="answerBatch != null  and answerBatch != ''"> and answer_batch like concat('%', #{answerBatch}, '%')</if>
        </where>
    </select>
    
    <select id="selectHrCandidateQaDetailById" parameterType="String" resultMap="HrCandidateQaDetailResult">
        <include refid="selectHrCandidateQaDetailVo"/>
        where id = #{id}
    </select>

	 <select id="selectHrCandidateQaDetailByCandidateId" parameterType="String" resultMap="HrCandidateQaDetailResult">
			<include refid="selectHrCandidateQaDetailVo"/>
			where candidate_id = #{id}
				and answer_batch in(
					select max(answer_batch) from hr_candidate_qa_detail where candidate_id = #{id}
			) 
			order by question_category, question_sub_category, question 
	</select>
	
	<select id="selectScoreSummaryByCategoryByCan_Batch"  parameterType="HrCandidateQaSum_Customize" resultMap="HrCandidateQaSum_CustomizeResult">
		select candidate_id candidateId, answer_batch answerBatch, question_category questionCategory, sum(candidate_score) score, sum(question_score) maxScore 
		from hr_candidate_qa_detail
		where candidate_id = #{candidateId} and answer_batch = #{answerBatch}
		group by question_category
	</select>
        
    <insert id="insertHrCandidateQaDetail" parameterType="HrCandidateQaDetail">
        insert into hr_candidate_qa_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="positionQuestionId != null and positionQuestionId != ''">position_question_id,</if>
            <if test="positionId != null and positionId != ''">position_id,</if>
            <if test="questionId != null and questionId != ''">question_id,</if>
            <if test="questionCategory != null">question_category,</if>
            <if test="questionSubCategory != null">question_sub_category,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="positionName != null and positionName != ''">position_name,</if>
            <if test="candidateId != null and candidateId != ''">candidate_id,</if>
            <if test="candidateName != null and candidateName != ''">candidate_name,</if>
            <if test="candidateAnswer != null and candidateAnswer != ''">candidate_answer,</if>
            <if test="candidateScore != null">candidate_score,</if>
            <if test="answerBatch != null and answerBatch != ''">answer_batch,</if>
            <if test="question != null and question != ''">question,</if>
            <if test="questionScore != null and questionScore != ''">question_score,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="positionQuestionId != null and positionQuestionId != ''">#{positionQuestionId},</if>
            <if test="positionId != null and positionId != ''">#{positionId},</if>
            <if test="questionId != null and questionId != ''">#{questionId},</if>
            <if test="questionCategory != null">#{questionCategory},</if>
            <if test="questionSubCategory != null">#{questionSubCategory},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="positionName != null and positionName != ''">#{positionName},</if>
            <if test="candidateId != null and candidateId != ''">#{candidateId},</if>
            <if test="candidateName != null and candidateName != ''">#{candidateName},</if>
            <if test="candidateAnswer != null and candidateAnswer != ''">#{candidateAnswer},</if>
            <if test="candidateScore != null">#{candidateScore},</if>
            <if test="answerBatch != null and answerBatch != ''">#{answerBatch},</if>
            <if test="question != null and question != ''">#{question},</if>
            <if test="questionScore != null and questionScore != ''">#{questionScore},</if>
         </trim>
    </insert>

    <update id="updateHrCandidateQaDetail" parameterType="HrCandidateQaDetail">
        update hr_candidate_qa_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="positionQuestionId != null and positionQuestionId != ''">position_question_id = #{positionQuestionId},</if>
            <if test="positionId != null and positionId != ''">position_id = #{positionId},</if>
            <if test="questionId != null and questionId != ''">question_id = #{questionId},</if>
            <if test="questionCategory != null">question_category = #{questionCategory},</if>
            <if test="questionSubCategory != null">question_sub_category = #{questionSubCategory},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="positionName != null and positionName != ''">position_name = #{positionName},</if>
            <if test="candidateId != null and candidateId != ''">candidate_id = #{candidateId},</if>
            <if test="candidateName != null and candidateName != ''">candidate_name = #{candidateName},</if>
            <if test="candidateAnswer != null and candidateAnswer != ''">candidate_answer = #{candidateAnswer},</if>
            <if test="candidateScore != null">candidate_score = #{candidateScore},</if>
            <if test="answerBatch != null and answerBatch != ''">answer_batch = #{answerBatch},</if>
            <if test="question != null and question != ''">question = #{question},</if>
            <if test="questionScore != null and questionScore != ''">question_score = #{questionScore},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHrCandidateQaDetailById" parameterType="String">
        delete from hr_candidate_qa_detail where id = #{id}
    </delete>

    <delete id="deleteHrCandidateQaDetailByIds" parameterType="String">
        delete from hr_candidate_qa_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>