<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HrPositionsMapper">
    
    <resultMap type="HrPositions" id="HrPositionsResult">
        <result property="id"    column="id"    />
        <result property="positionName"    column="position_name"    />
        <result property="category"    column="category"    />
        <result property="requestDepartment"    column="request_department"    />
        <result property="responsibility"    column="responsibility"    />
        <result property="isEnabled"    column="is_enabled"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
    </resultMap>

    <sql id="selectHrPositionsVo">
        select id, position_name, category, request_department, responsibility, is_enabled, create_time, create_by from hr_positions
    </sql>

    <select id="selectHrPositionsList" parameterType="HrPositions" resultMap="HrPositionsResult">
        <include refid="selectHrPositionsVo"/>
        <where>  
            <if test="category != null  and category != ''"> and category = #{category}</if>
            <if test="requestDepartment != null  and requestDepartment != ''"> and request_department = #{requestDepartment}</if>
            <if test="responsibility != null  and responsibility != ''"> and responsibility = #{responsibility}</if>
            <if test="isEnabled != null "> and is_enabled = #{isEnabled}</if>
        </where>
    </select>
    
    <select id="selectHrPositionsById" parameterType="String" resultMap="HrPositionsResult">
        <include refid="selectHrPositionsVo"/>
        where id = #{id}
    </select>
    
    <select id="selectHrPositionsAll" parameterType="String" resultMap="HrPositionsResult">
        <include refid="selectHrPositionsVo"/>
        where is_enabled = 1
    </select>
        
    <insert id="insertHrPositions" parameterType="HrPositions">
        insert into hr_positions
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="positionName != null">position_name,</if>
            <if test="category != null and category != ''">category,</if>
            <if test="requestDepartment != null and requestDepartment != ''">request_department,</if>
            <if test="responsibility != null">responsibility,</if>
            <if test="isEnabled != null">is_enabled,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="positionName != null">#{positionName},</if>
            <if test="category != null and category != ''">#{category},</if>
            <if test="requestDepartment != null and requestDepartment != ''">#{requestDepartment},</if>
            <if test="responsibility != null">#{responsibility},</if>
            <if test="isEnabled != null">#{isEnabled},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
         </trim>
    </insert>

    <update id="updateHrPositions" parameterType="HrPositions">
        update hr_positions
        <trim prefix="SET" suffixOverrides=",">
            <if test="positionName != null">position_name = #{positionName},</if>
            <if test="category != null and category != ''">category = #{category},</if>
            <if test="requestDepartment != null and requestDepartment != ''">request_department = #{requestDepartment},</if>
            <if test="responsibility != null">responsibility = #{responsibility},</if>
            <if test="isEnabled != null">is_enabled = #{isEnabled},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHrPositionsById" parameterType="String">
        delete from hr_positions where id = #{id}
    </delete>

    <delete id="deleteHrPositionsByIds" parameterType="String">
        delete from hr_positions where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>